.button {
  background-color: #d00256;
  padding: 10px;
  border: none;
  color: #fff;
  cursor: pointer;
}

.button:focus {
  outline: none;
}

@media screen and (max-width: 768px) {
  .button {
    font-size: 11px;
  }
}
