%common-shadow-props {
  content: '';
  box-shadow: 15px 0 8px -17px #c3c3c3;
  top: 30px;
  left: 10px;
  right: 10px;
  position: absolute;
}

.main {
  margin-right: 15%;
  margin-left: 15%;
  display: grid;
  grid-template-columns: 210px 1fr;
  .main__section-left {
    background-color: #e8e8e8;
    .main__section-left__product-category {
      font-size: 13px;
      padding: 15px 0 15px 18px;
      color: grey;
      border-bottom: 1px solid grey;
      cursor: pointer;
    }
  }
  .main__section-right {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    .main__section-right__div-elem1 {
      padding: 20px;
      margin-top: 20px;
      position: relative;
      .main__section-right__div-elem2 {
        font-weight: bold;
        text-align: left;
        height: 50px;
        font-size: 15px;
      }
      .main__section-right__div-elem3 {
        margin-top: 10px;
        padding: 8px;
        height: 70px;
        background-color: #e8e8e8;
        .main__section-right__div-elem4 {
          font-size: 14px;
          overflow: hidden;
          text-overflow: ellipsis;
          display: -webkit-box;
          -webkit-line-clamp: 4;
          -webkit-box-orient: vertical;
        }
      }
      .main__section-right__div-elem5 {
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-bottom: 1px dashed #c3c3c3;
        padding-bottom: 10px;
        padding-top: 13px;
        .main__section-right__div-elem6 {
          font-size: 15px;
        }
      }

      .main__section-right__img {
        width: 220px;
        margin-top: 15px;
      }
    }
    .main__section-right__div-elem1::after {
      @extend %common-shadow-props;
      bottom: 60px;
    }
  }
}

@media screen and (max-width: 768px) {
  .main {
    margin-left: 0;
    margin-right: 0;
    grid-template-columns: 155px 1fr;
    .main__section-right {
      grid-template-columns: repeat(2, 1fr);
      .main__section-right__product-info {
        border-bottom: 1px dashed #c3c3c3;
        padding-bottom: 8px;
        .main__section-right__product-info__div-elem1 {
          display: flex;
          gap: 5px;
          margin-top: 10px;
          .main__section-right__img {
            width: 140px;
            margin-top: 0;
          }
          .main__section-right__div-elem3 {
            height: auto;
            margin-top: 0;
            .main__section-right__div-elem4 {
              font-size: 12px;
              -webkit-line-clamp: 8;
            }
          }
        }
      }

      .main__section-right__div-elem1::after {
        @extend %common-shadow-props;
        bottom: 40px;
      }
    }
  }
}

@media screen and (max-width: 480px) {
  .main {
    grid-template-columns: 1fr;
    .main__section-right {
      grid-template-columns: 1fr;
      .main__section-right__div-elem1 {
        margin-top: 0;
        .main__section-right__div-elem2 {
          height: 30px;
          font-size: 12px;
        }
      }
      .main__section-right__div-elem1:last-child {
        padding-bottom: 0;
      }
      .main__section-right__product-info {
        .main__section-right__product-info__div-elem1 {
          .main__section-right__img {
            width: 150px;
          }
          .main__section-right__div-elem3 {
            height: 50px;
            .main__section-right__div-elem4 {
              font-size: 11px;
              -webkit-line-clamp: 4;
            }
          }
        }
      }
    }
  }
}
