%commonProps {
  flex: 1;
  background-color: #fff;
  display: flex;
  justify-content: center;
}

.section {
  @extend %commonProps;
  box-shadow: 0 -5px 3px -3px #c3c3c3;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  .section__content-div {
    font-size: 13px;
  }
}

.section-empty {
  @extend %commonProps;
  align-items: flex-end;
  padding-bottom: 15px;
}

.cart-amount {
  margin-right: 18px;
}
.cart-amount::after {
  content: '';
  height: 5px;
  width: 5px;
  margin-right: 18px;
  border-bottom: 2px solid currentColor;
  border-right: 2px solid currentColor;
  transform: rotate(315deg);
  position: absolute;
  right: 0;
  top: 20px;
}

@media screen and (max-width: 768px) {
  %commonProps {
    position: fixed;
    bottom: 0;
    width: 100%;
    flex: none;
  }
  .section {
    @extend %commonProps;
    padding: 12px 0;
    gap: 8px;
  }
  .section-empty {
    padding-top: 15px;
  }
}
