@import '~react-accessible-accordion/dist/fancy-example.css';

.accordion {
  border: none;
  border-radius: 0;
  .accordion__item {
    margin-top: 20px;
    .accordion__panel {
      padding: 0;
    }
    .accordion__heading {
      position: relative;
      .accordion__button {
        background-color: #d00256;
        color: #fff;
        padding: 13px 18px;
        width: auto;
        font-size: 14px;
      }
      .accordion__button::before {
        content: none;
      }
      .accordion__button::after {
        content: '';
        height: 10px;
        width: 10px;
        margin-right: 18px;
        border-bottom: 2px solid currentColor;
        border-right: 2px solid currentColor;
        transform: rotate(45deg);
        position: absolute;
        right: 0;
      }
    }
  }
}
